body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #c0b143;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
